# Remove all .DS_Store files
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
planfile

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Secret YAML
# secret.yaml




#큰용량
.terraform/
# .terraform/providers/registry.terraform.io/hashicorp/aws/5.89.0/linux_amd64/terraform-provider-aws_v5.89.0_x5
.tf/ecr/.terraform/providers/registry.terraform.io/hashicorp/aws/5.36.0/linux_amd64/terraform-provider-aws_v5.36.0_x5
# .terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.36.0/linux_amd64/terraform-provider-kubernetes_v2.36.0_x5
# .terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.24.0/linux_amd64/terraform-provider-kubernetes_v2.24.0_x5
# .terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/linux_amd64/terraform-provider-tls_v4.0.6_x5
